/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* imported fonts, google */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* shared styles */
.primary-bg {
  background-color: rgba(245, 248, 255, 1);
}
.btn-primary {
  background-color: #4E47FF;
  color: white;
  font-weight: 800;
  padding: 12px 36px;
  border: 1px solid #4E47FF;
  border-radius: 10px;
  cursor: pointer;
}

.btn-animation-side:hover {
  padding: 12px 100px;
  transition: all ease-in 0.5s;
}

.btn-animation-side:active {
  background-color:#201c8d
}

.btn-animation-bg:hover {
  background-color: white;
  color: #4E47FF;
  border: 1px solid #4E47FF;
  transition: all ease 0.5s;
}

.btn-animation-bg:active {
  color: #231dc8;
}

/* header styles */
.header {
  background-image: url('../images/Hero-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 900px;
}

/* nav styles */
.header nav {
  display: flex;
  justify-content: space-between;
  margin: 0 150px 150px;
  padding: 50px 0;
}

.nav-title {
  text-decoration: none;
  font-size: 34px;
  font-weight: 1000;
  color: rgba(78, 71, 255, 1);
}

/* Banner styles */
.banner {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.banner-title {
  color: rgba(37, 36, 50, 1);
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 37px;
}

/* main styles */
main section {
  max-width: 1440px;
  margin: 0 auto 120px;
}

/* action preview section styles */
.action-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 120px;
}

.action-content {
  width: 500px;
}
.action-title {
  font-size: 42px;
  font-weight: bold;
  color: rgba(37, 36, 50, 1);
  margin-bottom: 25px;
}

.action-subtitle {
  font-size: 24px;
  color: rgba(37, 36, 50, 0.5);
  margin-bottom: 25px;
}

.action-preview-img {
  width: 400px;
  height: 350px;
  border-radius: 50px;
}

/* User Stats Section Styles*/
.user-stats-section {
  background-color: rgba(78, 71, 255, 0.1);
  text-align: center;
  border-radius: 25px;
}

.user-stats-title {
  font-size: 38px;
  font-weight: 800;
  color: rgba(37, 36, 50, 1);
  padding-top:50px ;
  margin-bottom: 40px;
}

.stats-container {
  display: flex;
  justify-content: space-evenly;
}

.stats {
  padding-bottom: 50px;
}

.stats-data {
  font-size: 80px;
  font-weight: bold;
  color: rgba(78, 71, 255, 1);
}
.stats-subtext {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

/* User Feedback section styles */
.feedback-section {
  text-align: center;
}

.feedback-section-title {
  font-size: 42px;
  font-weight: bold;
  color: rgba(37, 36, 50, 1);
  margin-bottom: 50px;
}
.feedback-card-container {
  display: flex;
  justify-content: space-around;
}

.feedback-card {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(242, 237, 237, 1);
  border-radius: 15px;
  padding: 24px;
  text-align: left;
}
.star-icon {
  margin-bottom: 24px;
}

.feedback-content {
  width: 300px;
  margin-bottom: 24px;
}

.feedback-title {
  color: rgba(30, 30, 30, 1);
  margin-bottom: 10px;
}

.feedback-subtitle {
  color: rgba(30, 30, 30, 1);
}
.feedback-post-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-pfp {
  border-radius: 50px;
}

.user-name {
  color: rgba(117, 117, 117, 1);
  font-weight: 600;
  margin-bottom: 5px;
}

.feedback-date {
  color: rgba(179, 179, 179, 1);
}

/* preview section styles */

.preview-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: white;
  border-radius: 15px;
  padding: 70px 150px;
}

.preview-title {
  font-size: 50px;
  font-weight: bold;
}

.preview-subtitle {
  color: rgba(0, 0, 0, 0.5)
}
.preview-btn:hover {
  padding: 12px 200px;
}

.preview-img {
  width: 900px;
  border-radius: 50px;
}

/* contact section styles */
.contact-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-title {
  font-size: 100px;
  font-size: bold;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  margin: 70px 0;
}

.contact-form label {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.contact-form input, .contact-form textarea {
  font-size: 20px;
  padding: 20px 30px;
  margin-bottom: 20px;
  border: 1px solid rgba(214, 221, 237, 1);
  border-radius: 10px;
}

.contact-form input::placeholder { /* applied only to placholder text color */
  color: rgba(0, 0, 0, 0.5); 
}

.contact-form input:focus, .contact-form textarea:focus {
  outline: none;
}

/* footer styles */
.footer {
  margin-bottom: 100px;
}

.footer-content {
  max-width: 500px;
  margin: 30px auto;
  text-align: center;
}

.footer-title {
  text-decoration: none;
  font-size: 100px;
  font-weight: 1000;
  color: rgba(78, 71, 255, 1);
  margin-bottom: 10px;
}
.footer-subtext {
  color: rgba(137, 135, 161, 1);
}

.footer ul {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.footer ul li{
  list-style: none;
}

.footer ul li a {
  text-decoration: none;
  color: rgba(137, 135, 161, 1);
}

.footer ul li a:hover {
  color: rgb(73, 71, 89);
}